{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="new_post">
            <form action="{% url 'create_post' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="POST">
            </form>
        </div>
    {% else %}
    {% endif %}
    
    {% for post in posts %}
        <p>{{ post.content }}</p>
        <p>{{ post.poster }}</p>
        <p>{{ post.creation_date }}</p>
        <p>{{ post.get_likes }}</p>
    {% endfor %}

{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}