<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile page</title>
    </head>
    <body>
        username: {{ user.username }}
        Number of followers: {{ user.get_total_followers }}
        Number of people following {{ user.get_total_following }}:
        {% for post in posts %}
            <p>{{ post.content }}</p>
            <p>{{ post.poster }}</p>
            <p>{{ post.creation_date }}</p>
            <p>{{ post.get_likes }}</p>
        {% endfor %}   
    </body>
</html>